<!DOCTYPE html>
<html>
  <head>
    <script src='compiler.js?<%= query_string %>'></script>
  </head>
  <body>
    Be sure to check your javascript console for messages.
    <script type='text/javascript'>
      myapp.demo('successful echo test');
    </script>
  </body>
</html>
